*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* overflow: hidden; */
}
html
{
  overflow: hidden;
}
body{
min-height: 100vh;
background-color: #f5f5f5;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, sans-serif;
background-image: linear-gradient(rgba(101, 102, 106, 0.925),rgb(0, 0, 0));
}


.container{
    background: white;
    border: 5px;
    border-style: solid;
    border-color: rgb(249, 244, 254);  
    box-shadow: 0px 0px 10px 2.5px  rgba(169, 106, 210, 0.9);
    padding: 20px 10px;
    border-radius: 10px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 400px;
    background-image: linear-gradient(rgba(107, 103, 108, 0.925),rgb(16, 17, 16));
}
form p
{
  margin-bottom: 15px;
}

small
{
margin-top: 10px;
font-size: 15px;

}
small a
{
  text-decoration: none;
  color: red;
  font-size: 15px;
}
.form-css
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;  
  margin: 0;
  padding: 0;
}
fieldset
{
  font-size: 12px;
}
.submit-css
{
  padding: 6px;
  border: none;
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgb(203, 187, 187);
  /* box-shadow: 0px 0px 16px 0.5px  rgba(169, 106, 210, 0.4); */
  cursor: pointer;
}
legend{
  text-align: center;
  color: white;
}
ul li
{
  font-size: 10px;
  color: white;
}
.form-text{
  font-size: 10px;
  color: white;
}
form label
{
  color: white;
}
.text-muted
{
  color: white !important;
}
form small
{
  color: white;
}

@media (max-width:500px)
{
  .container{
    background: white;
    border: 5px;
    border-style: solid;
    border-color: rgb(249, 244, 254);  
    box-shadow: 0px 0px 10px 2.5px  rgba(169, 106, 210, 0.9);
    padding: 15px 5px;
    border-radius: 10px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 300px;
    background-image: linear-gradient(rgba(107, 103, 108, 0.925),rgb(16, 17, 16));
}
form p
{
  margin-bottom: 10px;
}

small
{
margin-top: 5px;
font-size: 10px;

}
small a
{
  text-decoration: none;
  color: red;
  font-size: 10px;
}
.form-css
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;  
  margin: 0;
  padding: 0;
}
fieldset
{
  font-size: 6px;
}
.submit-css
{
  padding: 3px;
  border: none;
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: rgb(203, 187, 187);
  /* box-shadow: 0px 0px 16px 0.5px  rgba(169, 106, 210, 0.4); */
  cursor: pointer;
}
legend{
  text-align: center;
  color: white;
  font-size: small;
}
ul li
{
  font-size: 7px;
  color: white;
}
.form-text{
  font-size: 5px;
  color: white;
}
form label
{
  color: white;
  font-size: 10px;
  
}
.text-muted
{
  color: white !important;
  font-size: 10px;
}
form small
{
  color: white;
}

}